.container {
  align-items: center;

  justify-content: center;
  background-color: #f6fafb;
  padding: 20px;
}

.panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  border-radius: 8px;
  padding: 20px;
  background-color: #cfdbdf;;
}

.block {
  padding: 10px;
  border-radius: 5px;
}
