.container {
  align-items: center;
  padding: 20px;
  justify-content: center;
}

.panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  
  border-radius: 8px;
  padding:20px;

  color: white;
  background-color: #1e6f5c;
}

.block {
  padding: 10px;
  border-radius: 5px;
}