.item_name {
  flex: 1;
  display: flex;

  background-color: #31b68e;

  text-align: center;
  align-items: center;
  justify-content: center;

  border-radius: 10px 0px 0px 10px;

  color: white;
  height: 140px;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-width: 340px;
  max-width: 220px;
  margin-top: 20px;
}

.info {
  flex: 3;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;
  background-color: #101a3b;
  border-radius: 0px 10px 10px 0px;
  color: white;

  height: 140px;
}

.maininfo {
  flex: 4;
  display: flex;
  flex-direction: column;

  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  align-items: flex-start;
  justify-content: center;

  font-size: 10pt;
}

.buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
  justify-content: space-evenly;
  height: 120px;
}
