.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10vh;
  padding: 10vh;
  height: 50vh;
}

.auth-main {
  display: flex;
  flex-direction: column;
}

.input-auth > * {
  margin-bottom: 10px;
}

.submit-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.auth-submit-buttons > :nth-child(1){
  padding: 10px;
}

#components-layout-demo-fixed-sider .logo {
  height: 32px;
  margin: 16px;
  background: rgba(8, 6, 6, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

.buttons-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logout-link{
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.item-subblock {
  padding: "1vh 0px";background: "red";
  .checkbox {
    padding-right: 10px;
  }
}

.sub-element {
  padding: 20px;
  background: "red";
}

.spin-loader {
  display: flex;
  
  text-align: center;
  justify-content: center;
}